/* CSS Document */

body,td,th {
	font-family: Corbel;
	font-size: 14px;
}

img {
	border: none;
}
.ara_button {
	background-image: url(images/ara_butons.png);
	width: 190px;
	margin-right: auto;
	margin-left: auto;
	height: 30px;
	text-decoration: none;
	font-size: 18px;
	color: #333;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	font-weight: bold;
	padding-left: 10px;
	margin-bottom: 5px;
}

.footer{
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 100000;
}
.cubuk {
	padding-top: 25px;
	height: 50px;
	color: #CCC;
}
.cubuk a {
	color: #FFF;
	text-decoration: none;
}
.cubuk a:hover {
	color: #CCC;
}




a {
	color: #333;
	text-decoration: none;
}
a:hover {
	color: #000;
}
.aaa {
	color: #F00;
	text-decoration: none;
}
.aaa:hover {
	color: #900;
}
.ort {
	width: 990px;
	margin-right: auto;
	margin-left: auto;
}
.clear {
	clear: both;
}
.aa {
	background-image: url(images/back-ust.png);
	height: 80px;
}
.logo_asu {
	height: 72px;
	width: 223px;
	float: left;
}
.menu_ust {
	float: left;
	height: 35px;
	margin-top: 45px;
	margin-left: 20px;
	width: 735px;
}
.menu_ust ul {
	display: block;
	margin: 0px;
	padding: 0px;
}
.menu_ust ul li {
	list-style-type: none;
	margin: 0px;
	height: 35px;
	float: left;
	padding: 0px;
}
.menu_ust ul li a {
	font-size: 25px;
	text-decoration: none;
	color: #000;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.menu_ust ul li a:hover {
	background-image: url(images/back-menu.png);
	color: #333;
}
.menu_blok {
	float: left;
	width: 227px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.menu_blok ul {
	display: block;
	margin: 0px;
	padding: 0px;
}
.menu_blok ul li {
	list-style-type: none;
	margin: 0px;
	height: 25px;
	padding: 0px;
	width: 227px;
	display: block;
}
.menu_blok ul li a {
	font-size: 17px;
	text-decoration: none;
	color: #000;
	padding-left: 30px;
	padding-top: 2px;
	padding-bottom: 2px;
	display: block;
}
.menu_blok ul li a:hover {
	background-image: url(images/back-altmanu.png);
	color: #333;
}
.bb {

}
.blok {
	float: left;
	width: 233px;
}
.blok_ic {
	background-image: url(images/back-blok.png);
	width: 227px;
	min-height: 10px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 5px;
}
.blok_button {
	background-image: url(images/buton.png);
	width: 180px;
	margin-right: auto;
	margin-left: auto;
	text-align: right;
	height: 36px;
	padding-right: 19px;
	margin-bottom: 5px;
	text-decoration: none;
	font-size: 25px;
	color: #FFF;
}
.blok_button:hover {
	background-image: url(images/buton.png);
	background-position: 0px 36px;
}
.blok_baslik {
	background-color: #FFF;
	height: 25px;
	font-weight: bold;
	font-size: 17px;
	padding-left: 25px;
	padding-top: 5px;
}
.blok_ust {
	background-image: url(images/back-blok-ust.png);
	height: 10px;
	width: 227px;
	margin-right: auto;
	margin-left: auto;
}
.blok_alt {
	background-image: url(images/back-blok-alt.png);
	height: 10px;
	width: 227px;
	margin-right: auto;
	margin-left: auto;
}
.blok_ort {
	float: left;
	width: 524px;
}

.yorum_ust {
	background-image: url(images/back-itiraf.png);
	height: 20px;
	width: 407px;
}
.yorum_alt {
	background-image: url(images/back-itiraf.png);
	background-position: 0px 20px;
	width: 407px;
	height: 20px;
}
.yorum_ic {
	background-image: url(images/back-itiraf-ic.png);
	padding-left: 6px;
}
.yorum_say {
	background-image: url(images/back-syh.png);
	float: left;
	height: 25px;
	width: 28px;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	padding-right: 11px;
	text-align: center;
	margin-top: 2px;
}
.yorum_say2 {
	background-image: url(images/back-arti.png);
	float: left;
	height: 25px;
	width: 28px;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	padding-right: 11px;
	text-align: center;
	margin-top: 2px;
}
.yorum_say3 {
	background-image: url(images/back-eksi.png);
	float: left;
	height: 25px;
	width: 28px;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	padding-right: 11px;
	text-align: center;
	margin-top: 2px;
}
.yorum_baslik {
	width: 270px;
	float: left;
	font-size: 20px;
}
.yorum_t {
	float: left;
	width: 310px;
}
.yorum_ic_sol {
	float: left;
	width: 310px;
}
.yorum_ic_alt {
	float: left;
	padding-left: 15px;
	width: 290px;
	padding-top: 15px;
}
.nick {
	text-align: right;
	font-weight: bold;
	float: right;
	font-size: 17px;
	color: #333;
}
.yorum_ne {
	float: left;
}
.yorum_res {
	float: left;
	width: 66px;
}
.yorum_cins {
	height: 21px;
	width: 33px;
	position: absolute;
	margin-top: -2px;
	margin-left: -2px;
}
.yorum_rs {
}
.yorum_sol {
	width: 407px;
	padding-left: 20px;
}
.yorum_sag {
	width: 407px;
	padding-left: 94px;
}
.sayfa {
	width: 500px;
	padding-left: 12px;
}
.sayfa_ust {
	background-image: url(images/back_sayfa.png);
	height: 20px;
	width: 500px;
}
.sayfa_alt {
	background-image: url(images/back_sayfa.png);
	background-position: 0px 20px;
	width: 500px;
	height: 20px;
}
.sayfa_ic {
	background-image: url(images/back_sayfa_ic.png);
	padding-left: 6px;
}
.sayfa_say {
	background-image: url(images/back-syh.png);
	float: left;
	height: 25px;
	width: 28px;
	color: #FFF;
	font-size: 18px;
	font-weight: bold;
	padding-right: 11px;
	text-align: center;
	margin-top: 2px;
}
.sayfa_baslik {
	width: 360px;
	float: left;
	font-size: 20px;
}
.sayfa_t {
	float: left;
	width: 400px;
}
.sayfa_ic_sol {
	float: left;
	width: 400px;
}
.sayfa_ic_alt {
	float: left;
	padding-left: 15px;
	width: 380px;
	padding-top: 5px;
}
.sayfa_ne {
	width: 450px;
	padding-top: 15px;
	padding-left: 5px;
}
.nickx {
	float: right;
	margin-right: 25px;
	color: #333;
	text-decoration: none;
	font-size: 17px;
}

.cc {
	background-image: url(images/back-ust.png);
	height: 30px;
	margin-top: 50px;
	padding-top: 5px;
}
.copy {
	font-size: 25px;
	float: left;
}
.telif {
	font-size: 14px;
	float: left;
	padding-left: 15px;
	margin-top: 9px;
}
.facebook {
	background-image: url(images/back-ust.png);
	text-align: center;
	margin-right: 19px;
	margin-left: 18px;
}
.yorum {
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 5px;
}
.yorumust {
	background-image: url(images/back_sayfa.png);
	height: 20px;
	width: 500px;
	margin-left: 11px;
}
.yorumort {
	background-image: url(images/back_sayfa_ic.png);
	margin-left: 11px;
	padding-left: 27px;
	padding-right: 32px;
	width: 440px;
}
.yorumsys {
	height: 41px;
	width: 53px;
	float: left;
	font-size: 25px;
	color: #FFF;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	background-image: url(file:///C|/xampp/htdocs/asuitiraf/aaaaaaaaaa/images/yorumsay.jpg);
	padding-top: 7px;
	margin-left: -1px;
}
.yorumsys2 {
	height: 41px;
	width: 53px;
	float: left;
	font-size: 25px;
	color: #FFF;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	background-image: url(file:///C|/xampp/htdocs/asuitiraf/aaaaaaaaaa/images/yorumsay2.jpg);
	padding-top: 7px;
	margin-left: -1px;
}

.yorumic {
	font-size: 25px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 5px;
	max-width: 630px;
}
.yorumic a {
	color: #333;
	text-decoration: none;
}
.yorumic a:hover {
	color: #666;
	text-decoration: none;
}
.yorumrumuz {
	font-size: 13px;
	color: #999;
	text-decoration: none;
	margin-top: 15px;
	float: left;
}
.yorumalt {
	background-image: url(images/back_sayfa.png);
	height: 32px;
	width: 500px;
	margin-left: 11px;
	background-position: 0px 30px;
}

.dikkat{
	border: solid 1px #DEDEDE;
	background: #FFFFCC url(images/icon-alert-icon.png) 8px 6px no-repeat;
	color: #222222;
	font-weight: bold;
	padding: 4px;
	text-align: center;
	width: 470px;
	margin-left: 26px;
    } 
    .onay{
	border: solid 1px #90ac13;
	background: #eef4d3 url(images/accept-icon.png) 8px 6px no-repeat;
	color: #6b800d;
	font-weight: bold;
	padding: 4px;
	text-align: center;
	width: 470px;
	margin-left: 26px;
    } 
    .yasak{
	border: solid 1px #CC0000;
	background: #F7CBCA url(images/delete-icon.png) 8px 6px no-repeat;
	color: #CC0000;
	font-weight: bold;
	padding: 4px;
	text-align: center;
	width: 470px;
	margin-left: 26px;
    }
#gonder {
	height: 60px;
}
